body {
  width: 100%;
  height: 110vh;
  margin: 0;
  background-image: linear-gradient(320deg, #1b1b32, #20B2AA 60%, #00BFFF);
  color: #f5f6f7;
  font-family: Tahoma;
  font-size: 16px;
}

hr {
  margin-top: 170px;
  width: 90%
}

.or {
  background-image: linear-gradient(320deg, #20B2AA 60%, #00BFFF);
  width: 30px;
  margin: -18px auto 10px;
  border: 1px solid white
}

.input-box {
  border-radius: 20px;
  padding: 3px 1px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #999;
  outline: none;
}

.sign-up-form {
  width: 500px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  padding: 60px;
  margin: 8% auto 0;
  text-align: center;
}

h1,
p {
  margin: 1em auto;
  text-align: center;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 2rem 0;
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

#sign,
textarea {
  background-color: rgb(255, 255, 255);
  border: 1px solid #ffffff;
  color: rgb(255, 255, 255)
}


.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: -8em auto;
  height: 2em;
  font-size: 1.1rem;
  background: linear-gradient(45deg, #00BFFF, #1E90FF);
  border-color: DeepSkyBlue;
  min-width: 300px;
  font-family: Tahoma;

}

input[type="file"] {
  padding: 1px 2px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px 30px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #2796e0;
}

.social-icons {
    margin: -50px auto;
text-align: center;
}
.social-icons img {
    margin: 1px auto;
text-align: center;
width: 50px;
box-shadow: 0 0 20px 0 #7f7f7f3d;
cursor: pointer;
border-radius: 50%;
}